Source: ros-verystable-robot-state-publisher
Section: misc
Priority: optional
Maintainer: Karsten Knese <karsten@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-verystable-ament-cmake, ros-verystable-ament-lint-auto, ros-verystable-ament-lint-common, ros-verystable-geometry-msgs, ros-verystable-kdl-parser, ros-verystable-orocos-kdl, ros-verystable-rclcpp, ros-verystable-sensor-msgs, ros-verystable-tf2-ros, ros-verystable-urdf, ros-verystable-urdfdom-headers, ros-verystable-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-verystable-robot-state-publisher
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-verystable-geometry-msgs, ros-verystable-kdl-parser, ros-verystable-orocos-kdl, ros-verystable-rclcpp, ros-verystable-sensor-msgs, ros-verystable-tf2-ros, ros-verystable-urdf, ros-verystable-urdfdom-headers, ros-verystable-ros-workspace
Description: ROS2 version of the robot_state_publisher package
